body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    }
}

.section-wrap {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .section-wrap {
    padding: 120px 0;
    }
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
}
/*========================HEADER===================*/

.header-section {
    border-bottom: 1px solid #E7E9FC;
    display: flex;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
.header-container {
    padding: 0 16px;
}
}

.navigation {
    display: flex;
    align-items: center;
}

address {
    font-style: normal;
}

.header-logo-link {
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color:#4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

@media screen and (min-width: 768px) {
    .header-logo-link {
            margin-right: 76px;
        }
}

@media screen and (min-width: 1158px) {
    .header-logo-link {
    margin-right: 76px;
    }
}


.header-logo-color {
    color: #2e2f42;
}

.navigation-sectors {
    list-style: none;
    display: none;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .navigation-sectors {
    display: flex;
    }
}

@media screen and (min-width: 1158px) {
    .navigation-sectors {
    display: flex;
    }
}

.navigation-item {
    position: relative;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-link {
    text-decoration: none;
    position: relative;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-link:hover,
.navigation-item-link:focus {
    color: #404BBF;
}

.active-navigation-link {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-navigation-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}


.head-address {
    font-style: normal;
    margin-left: auto;
    display: flex;
}

.header-address-list {
    list-style: none;
    font-style: normal;
    align-items: center;
    display: none;
    gap: 40px;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    }
}

@media screen and (min-width: 1158px) {
    .header-address-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    }
}

.menu-open-btn {
    border: none;
    background-color: transparent;
    align-items: baseline;
    display: flex;
    align-items: center;
    cursor: pointer;

}

@media screen and (min-width: 768px) {
    .menu-open-btn {
        display: none;
    }
}
@media screen and (min-width: 1158px) {
    .menu-open-btn {
        display: none;
    }
}

ul .header-address-item {
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li .address {
    text-decoration: none;
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li .address:hover,
li .address:focus {
    color: #404BBF;
    font-style: normal;
}

/*========================MOB MENU===========================*/
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 72px 24px 40px 16px;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    gap: 48px;
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-close-btn {
    margin-left: auto;
    position: absolute;
    display: flex;
    position: absolute;
    align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0;
        right: 24px;
        top: 24px;
        background-color: #E7E9FC;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.menu-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover .menu-btn-icon,
.menu-close-btn:focus .menu-btn-icon {
    fill: #ffffff;
}


.mob-menu-list {
    list-style: none;
    margin-bottom: auto;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.first-navigation-item {}

.mob-item-link {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2E2F42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-item-link:hover,
.mob-item-link:focus {
    color: #404BBF
}

.active-navigation-link {}



.mob-address-list {
    list-style: none;
}

.mob-address {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address:hover,
.mob-address:focus {
    color: #404BBF
}


.mob-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-social-list {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
}

.mob-social-icon {
    width: 40px;
    height: 40px;
}

.mob-social-icon-link {
    width: 100%;
    height: 100%;   
    display: flex; 
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-svg {
    fill: #F4F4FD;
}

.mob-social-icon-link:hover,
.mob-social-icon-link:focus {
    background-color: #31D0AA;
}


/*========================MAIN===========================*/

.section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/bg-hero-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 0;
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-hero-mob-2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .section {
    padding: 113px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-hero-tab.jpg);
    }
@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-hero-tab-2x.jpg);
            }
    }
}

@media screen and (min-width: 1158px) {
    .section {
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg_hero-desk.jpg);
    }
@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-hero-desk-2x.jpg);
            }
    }
}

.main-header-first {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 214px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .main-header-first {
        font-size: 56px;
        margin-bottom: 36px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .main-header-first {
        margin-bottom: 48px;
        max-width: 496px;
    }
}

.main-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/*====================SECTION 2===============================*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.second-section-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 72px 24px;
}

@media screen and (min-width: 768px) {
    .second-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    }
}

.second-section-item-icon {
    width: 264px;
    height: 112px;
}

.wrap-svg-icon {
    display: none;
}

@media screen and (min-width: 1158px) {
    .wrap-svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    }
}

.second-section-item {
    
}

@media screen and (min-width: 768px) {
    .second-section-item {
        width: calc((100% - 24px * 1) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .second-section-item {
        width: calc((100% - 24px * 3) / 4);
    }
}

.second-section-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .second-section-header {
    justify-content: left;
    }
}

@media screen and (min-width: 1158px) {
    .second-section-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
        }
}

.second-section-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
    
}

@media screen and (min-width: 768px) {
    .second-section-text {
        font-weight: 500;
    }
}

@media screen and (min-width: 1158px) {
    .second-section-text {
        font-weight: 400;
    }
}
/*======================SECTION TEAM==============================*/

.third-section {
    background-color: #F4F4FD;
}

.third-section-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding-left: 0;
    }

@media screen and (min-width: 768px) {
    .third-section-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .third-section-list {
        gap: 24px;
        margin: 0 auto;
    }
}

.third-section-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}


@media screen and (min-width: 1158px) {
    .third-section-item {
      width: calc((100% - 24px * 3)/ 4);
    }
}

.third-section-img {
    width: 100%;
    height: auto;
}

.section-three-cont {
    text-align: center;
    padding: 32px 0;
}

.third-section-hthree {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.third-section-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
}

.team-social-icon {
    width: 40px;
    height: 40px;
}

.team-social-icon-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-svg-team {
    fill: #f4f4fd;
}

.team-social-icon-link:hover,
.team-social-icon-link:focus {
    background-color: #404BBF
}

/*============================SECTION PORTFOLIO========================*/

.fourth-section-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

@media screen and (min-width: 768px) {
    .fourth-section-list {
        flex-direction: row;
    }
}

.fourth-section-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

@media screen and (min-width: 768px) {
    .fourth-section-item {
     width: calc((100% - 24px * 1)/ 2);
    }
}

    @media screen and (min-width: 1158px) {
.fourth-section-item {
    width: calc((100% - 24px * 2)/ 3);
}
}

.fourth-section-item:hover,
.fourth-section-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourth-section-item:hover .img-paragraf {
    transform: translateY(0%);
}

.portfolio-cont {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: 0;
}

.fourth-section-hthree {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.fourth-section-class {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.image-wrapper-portfolio {
    position: relative;
    overflow: hidden;

}

.img-paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*=====================FOOTER============================*/

.footer{
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer-all-wrapper {
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-all-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        gap: 72px 24px;
        padding: 0 108px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-all-wrapper {
        align-items: baseline;
        padding: 0 15px;
        flex-wrap: nowrap;
        gap: 0;
    }
}

.footer-logo-container {
    width: auto;
}

@media screen and (min-width: 768px) {
    .footer-logo-container {
    width: 264px;
}
}

@media screen and (min-width: 1158px) {
    .footer-logo-container {
    margin-right: auto;
}
}

.footer-logo {
    text-decoration: none;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-wrap {
    margin-bottom: 17.5px;
}

.footer-logo-color {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

@media screen and (min-width: 1158px) {
    .footer-text {
    width: 264px;
    }
}

.subscription-area {
    width: auto;
}

.footer-text-social {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-container {
    
}

@media screen and (min-width: 1158px) {
    .footer-social-container {
        margin-right: auto;
    }
    
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 0;
    margin: auto;
    list-style: none;
}

.footer-social-icon {
    width: 40px;
    height: 40px;
}

.footer-social-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon-footer {
    fill: #F4F4FD;
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
    background-color: #31D0AA;
}

.subscription-form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .subscription-form {
    flex-direction: row;
    gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .subscription-form {
    gap: 24px;
    }
}

.subscription-label {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .subscription-label {
        width: auto;
    }
}

.subscription-input-footer {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription-input-footer::placeholder {
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .subscription-input-footer {
        width: 264px;
    }
}

.subscription-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.subscription-button:hover,
.subscription-button:focus {
    background-color: #404BBF;
    }

.subscription-button .icon-container {
    fill: #F4F4FD;
    margin-left: 16px;
    }
/*=====================BACKDROP============================*/

.backdrop {
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: calc(100% - 32px);
    min-height: 584px;
    border-radius: 4px;
    background-color: rgba(252, 252, 252, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}

.modal-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    right: 24px;
    top: 24px;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
}

.modal-header {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    height: 24px;
    margin-bottom: 16px;
}

.form-field {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    font-size: 12px;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.input-wrapper{
    position: relative;
}

.modal-icon-input {
    position: absolute;
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
    border-color: #4D5AE5;
}

.form-input:focus + .modal-icon-input,
.form-input:hover + .modal-icon-input {
    fill: #4D5AE5;
}

.form-field-textarea {
    margin-bottom: 16px;
}

textarea {
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

textarea:focus,
textarea:hover {
    border-color: #4D5AE5;
}

.form-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    color: rgba(46, 47, 66, 0.4);
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
}

.form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
}

.privacy-cont {
    margin-bottom: 24px;
}

.privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

input[type="checkbox"]+label>span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

input[type="checkbox"]:checked+label>span {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

input[type="checkbox"]:focus+label>span {
    border-color: #404BBF;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.form-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404BBF;
}